body{
    margin:0;
    padding:0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right,#e3f2fd,#ffffff);
}

.container{
    width:80%;
    margin:30px auto;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 0 15px rgba(0,0,0,0.2);
}

.profile{
    width:150px;
    height:150px;
    border-radius:50%;
    object-fit:cover;
    display:block;
    margin:20px auto;
    border:3px solid blue;
}


h1{
    text-align:center;
    color:blue;
}

p{
    font-size:18px;
}

button{
    padding:10px 20px;
    margin:10px;
    border:none;
    background:rgb(19, 19, 110);
    color:rgb(185, 61, 61);
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:darkblue;
}
